log:
  level:
  environment:

database:
  host:
  port:
  name:
  user:
  pass:
  sslmode:
  timezone:

jwt:
  secret:
  issuer:
  expiration:

server:
  write_timeout:
  read_timeout:
  cors:
    allow_origins:
    allow_methods:
    allow_headers:
    expose_headers:
    max_age:
    allow_credential:

app:
  name: volare 1.0.0
